<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>文章分类</title>
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    </head>
<body>
  <div>
     <@header>
  </div>
     <table cellspacing="1" class="width_100_">
         <tr>
             <td class="width_300 text_top text_center">
                 <@class=1;count=4;length=15@></td>
             <td class="text_top">
                 <div><@article></div>
                 <hr />
                 <div><@page></div>
                 </td>
         </tr>
     </table>
   <div>
    <@footer>
  </div>
</body>
</html>
