<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <title>首页</title>
    <link href="./css/css.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .style1 {
            width: 100%;
        }
    </style>
</head>
<body>
    <@header>
    <table cellspacing="1" class="style1">
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                <table cellspacing="1" class="style1">
                    <tr>
                        <td class="text_top">
                           <ul><@class=1;count=2;length=20@></ul></td>
                        <td class="text_top">
                           <ul><@class=1;count=4;length=20@></ul></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
    </table>
<@footer>
</body>
</html>
